body {
  margin: auto;
  width: 70%;
  background-image: linear-gradient(to top right, #1563b7, #3da5d9);
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #1563b7;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 2.5em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #1563b7;
}

h2white {
  font-size: 2.5em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
}

h3 {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #1563b7;
}

h4 {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #f2700d;
}

h5 {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  color: #333;
}
footer {
  border-top: 1px solid #d5d5d5;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}

ul.posts li {
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}

form {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

label {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  line-height: 1em;
  color: #333;
  padding-top: 20px;
  padding-bottom: 5px;
  display: inline-block;
  width: 100%;
}

textarea {
  width: 100%;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 10px;
  border: 2px;
  border-style: solid;
  border-color: #3da5d9;
  width: 100%;
  box-sizing: content-box;
}

textarea:focus {
  outline: none;
  border-color: #f2700d;
  padding-left: 10px;
}

textarea:active {
  outline: none;
  border-color: #f2700d;
  padding-left: 10px;
}

select {
  border-radius: 10px;
  border: 2px;
  padding-left: 10px;
  height: 40px;
  border-style: solid;
  border-color: #3da5d9;
  width: 100%;
  box-sizing: content-box;
}
select:focus {
  outline: none;
  border-color: #f2700d;
  padding-left: 10px;
}
